<div>

    <h2>Create celebrities</h2>

    <div>
        <form action="/celebrities/create" method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="occupation">occupation</label>
        <input type="text" name="occupation">
        <br>
        <br>
        <label for="catchPhrase">catchPhrase</label>
        <input type="text" name="catchPhrase">
        <br>
        <br>

        <button>Submit</button>

        </form>
    </div>
</div>